@use "../base/typographys";

//   FONT
$font-play: 'Play';
$font-poppins: 'poppins';
$font-nunito: 'Nunito';


//   COLOR

$color-menthe: #a8e6cf;
$color-pêche: #ffd3b6;
$color-bleu: #a0ced9;
$color-corail: #ffaaa5;
$color-noir: #2f2f2f;
$color-blanc: #fafafa;

$color-erreur: #ff746c;

$color-test: #d8bee5;