 @media screen and (min-width:1921px) {
     #header {
         .header {}
     }
 }

 @media screen and (max-width:1250px) {
     #header .header .navbar_menu .navbar_list_container {
         .navbar_list {
             display: none;
         }

         .burger {
             position: relative;
             display: flex;
         }
     }

 }


 @media screen and (max-width:768px) {
     #header .header .navbar_menu .navbar_list_container {
         .navbar_list {
             display: none;
         }

         .burger {
             position: relative;
             display: flex;
         }
     }
 }

 @media screen and (max-width:525px) {
     #header {
         .header {}
     }
 }

 @media screen and (max-width:453px) {
     #header {
         .header {}
     }
 }