{% extends 'base.html.twig' %}
{% block title %}Perte de poids • Petit déjeuner • Kaïrun
{% endblock %}

{% block body %}
	<main id="perte-de-poid-petit-dejeuner">
		<section class="objectif-hero container">
			<h1>Perte de poids - Petit-déjeuner</h1>
			<p class="description">
				Des recettes simples et équilibrées pour t’aider à avancer à ton rythme.
			</p>
		</section>
		<section class="recettes container">
			<div class="recettes-flex">
				{% for recette in recettes %}
					<article class="recette-card">
						<h3>{{ recette.nom }}</h3>

						<p class="temps">
							Préparation :
							{{ recette.tempPrepaMin }}
							min<br>
							Cuisson :
							{{ recette.tempsCuissonsMin }}
							min
						</p>

						<a href="#" class="btn-nav">Voir la recette</a>
					</article>
				{% else %}
					<p>Aucune recette pour le moment.</p>
				{% endfor %}
			</div>
		</section>

		<section class="">
			<h2>Les dernières recettes Perte de poids - Petit-déjeuner</h2>

		{% endblock %}
