@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0 auto;
    font-family: v.$font-nunito;
    background: v.$color-blanc;
    color: v.$color-text-noir;
}

main {
    width: 100%;
}

section {
    margin-top: 6rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: v.$color-text-noir;
}