@font-face {
    font-family: 'Play';
    src: url(../../../public/font/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../../../public/font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Nunito';
    src: url(../../../public/font/Nunito-Regular.ttf);
}