@use "../abstracts/variables" as v;

.pdp {
    padding: 1rem 1.5rem;
    color: v.$color-noir;
    background-color: v.$color-bleu;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.pdm {
    padding: 1rem 1.5rem;
    color: v.$color-noir;
    background-color: v.$color-corail;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.pdp:hover,
.pdm:hover {
    background-color: v.$color-pêche;
}

.btn {
    //background-image: url("");
    background-size: contain;
    background-repeat: round;
}

.btn-nav {
    padding: 10px 1rem 14px;
    //background-image: url("");
    background-size: cover;
    background-repeat: round;
    border: 1px solid v.$color-noir;
    border-radius: 0.8rem;
}

.btn-home {
    //background-image: url("");
    background-size: cover;
    background-repeat: round;
    background-color: v.$color-menthe;
    border-radius: 0.8rem;
    padding: 10px 1rem 14px;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-home:hover,
.btn-home:focus,
.btn:hover,
.btn:focus {
    //background-image: url("");
    background-color: v.$color-pêche;
}

.btn-alt {
    color: v.$color-blanc;
    text-shadow: 1px 1px 0 v.$color-test, -1px -1px 0 v.$color-test, 1px -1px 0 v.$color-test, -1px 1px 0 v.$color-test;
    font-weight: bold;
    padding: 10px 1rem 14px;
    //background-image: url("");
    background-size: contain;
    background-repeat: round;
    cursor: pointer;
}

.btn-alt:hover,
.btn-alt:focus {
    //background-image: url("");
}

.btn-warming {
    padding: 10px 2rem 14px;
    background-color: v.$color-menthe;
    border-radius: 0.8rem;
}

.reset-btn {
    flex: 0 0 auto;
    padding: 9px 12px 16px;
    cursor: pointer;
    background-color: transparent;
    //background-image: url("");
    background-size: contain;
    background-repeat: round;
    border: none;
    color: v.$color-test;

    .redo-icon {
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    }

    transition: all 0.2s ease-in-out;
}

.reset-btn:hover {
    //background-image: url("");
}