@use "../abstracts/variables" as v;

#home {
    margin-top: 10rem;
    min-height: 560px;

    .titre {
        text-align: center;

        .home-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            ul,
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}