@use "../abstracts/variables" as v;

.objectif-hero {
    margin: 3rem auto 2rem;
    text-align: center;

    h1 {
        font-size: 2.4rem;
        margin-bottom: .5rem;
    }

    .description {
        color: v.$color-noir;
        font-size: 1rem;
    }
}

.categories {
    margin: 2rem auto;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        position: relative;
        display: inline-block;
    }

    h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: v.$color-noir;
        margin-top: 0.2rem;
        border-radius: 3px;
    }

    .categories-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 3rem;
        justify-content: center;
    }

    .cat-card {
        flex: 1 1 calc(50% - 1rem);
        padding: 1.2rem;
        text-align: center;
        background-color: v.$color-bleu;
        border-radius: 12px;

    }
}

.recettes {
    margin: 2rem auto;

    h2 {
        margin-bottom: 1rem;
    }

    .recettes-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    .recette-card {
        flex: 1 1 calc(50% - 1.2rem);
        padding: 1rem;
        background-color: v.$color-blanc;
        border-radius: 10px;
        border: 2px solid #ffaaa5; // corail

        h3 {
            margin-top: 0;
        }

        .temps {
            color: v.$color-noir;
            font-size: .9rem;
        }
    }
}

@media (min-width: 768px) {

    .categories .cat-card,
    .recettes .recette-card {
        flex: 1 1 calc(25% - 1.2rem);
    }
}