@use "../abstracts/variables" as v;

#perte-de-poids {
    .objectif-hero {
        text-align: center;
        margin: 3rem auto 2rem;

        h1 {
            margin-bottom: 5rem;
        }

    }


    .categories,
    .recettes {
        text-align: center;

        h2 {
            display: inline-block;
            position: relative;
            margin-bottom: 1.5rem;

        }

        h2::after {
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background-color: v.$color-noir;
            margin-top: .3rem;
            border-radius: 3px;
        }
    }


    .categories-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .categories-card {
        width: 22%;
        background-color: v.$color-bleu;
        padding: 2rem 1rem;
        border-radius: 12px;
        text-align: center;
        transition: 0.2s ease-in-out;
    }

    .category-card:hover {
        transform: scale(1.03);
    }

    .categorie-card a {
        color: v.$color-noir;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        display: block;
    }


    .recettes-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    .recette-card {
        width: 22%;
        background-color: v.$color-blanc;
        padding: 1rem;
        border-radius: 12px;
        border: 2px solid v.$color-pêche;
        text-align: center;
    }

    .recette-card h3 {
        margin-top: 0;
    }

    .recette-card .temps {
        color: v.$color-noir;
        font-size: .9rem;
        margin-bottom: 1rem;
    }

}